body {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  margin: auto;
  font-family: 'Roboto'
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

@media only screen and (max-width: 1024px) {
  .row {
    display: block;
  }
}

div {
  padding-top: 16px;
  padding-bottom: 16px;
}

#game-board {
  width: min(90vw, 70vh);
  height: min(90vw, 70vh);
  margin: 0 auto;
  table-layout: fixed;
}

td {
  border: 1px solid black;
  cursor: pointer;
  color: red;
  width: 10%;
  height: 10%;
  font-size: 1.5em;
}

.confetti {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
  position: fixed;
}

#timerTotal {
  font-size: 4em;
  font-family: monospace;
}

#average {
  font-size: 3em;
  font-family: monospace;
}

#timer {
  font-size: 3em;
  font-family: monospace;
}
