body{
    font-family: Arial;
    background: #1f1f1f;
}

button{
    margin: 1em;
    height: 35px;
}

.display{
    display: flex;
    justify-content: center;
}

.digit {
    position: relative;
    float: left;
    margin-right: 5px;

    font-size: 5em;
    color: #ffffff;
    background: #1f1f1f;
    border: 1px solid rgb(205, 205, 205);

    width: 0.8em;

    border-radius: 0.2em;
    display: flex; 
    justify-content: center;
}
